.git/
_ReSharper.Transit/
Analysis/bin/
Analysis/obj
Artifacts/
Build/
Common/bin/
Common/obj/
Importer/bin/
Importer/obj/
Inspector/bin/
Inspector/obj/
Reader/bin/
Reader/obj/
Transit.suo
Transit.5.1.ReSharper.user