.git/
_ReSharper.Transit/
Analysis/bin/
Analysis/obj
Governor/bin/
Governor/obj/
Artifacts/
Build/
Common/bin/
Common/obj/
Importer/bin/
Importer/obj/
Inspector/bin/
Inspector/obj/
Reader/bin/
Reader/obj/
Setup/Debug/
Setup/Release/
Transit.suo
Transit.5.1.ReSharper.user